@font-face {
  font-family: "iconfont"; /* Project id 4074241 */
  src: url('iconfont.woff2?t=1702543665001') format('woff2'),
       url('iconfont.woff?t=1702543665001') format('woff'),
       url('iconfont.ttf?t=1702543665001') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bell1:before {
  content: "\e7c4";
}

.icon-bell3:before {
  content: "\ecaa";
}

.icon-html:before {
  content: "\e609";
}

.icon-css:before {
  content: "\e61d";
}

.icon-html5:before {
  content: "\e62b";
}

.icon-qianduankaifa:before {
  content: "\e643";
}

.icon-houduankaifa:before {
  content: "\e64c";
}

.icon-xiaoxi-zhihui:before {
  content: "\e62d";
}

.icon-xihuan:before {
  content: "\e62f";
}

.icon-shouye-zhihui:before {
  content: "\e630";
}

.icon-gerenzhongxin-zhihui:before {
  content: "\e631";
}

.icon-qianshuxieyi:before {
  content: "\e633";
}

.icon-shangchuantupian:before {
  content: "\e634";
}

.icon-dingwei:before {
  content: "\e635";
}

.icon-a-xiala2:before {
  content: "\e636";
}

.icon-bianji:before {
  content: "\e637";
}

.icon-jinru:before {
  content: "\e638";
}

.icon-tishi1:before {
  content: "\e639";
}

.icon-shizhongfill:before {
  content: "\e74e";
}

.icon-shizhong:before {
  content: "\e74f";
}

.icon-gitee:before {
  content: "\e62a";
}

.icon-home2:before {
  content: "\e61c";
}

.icon-camera2:before {
  content: "\e61e";
}

.icon-iconfontscan:before {
  content: "\e620";
}

.icon-31shoucangxuanzhong:before {
  content: "\e621";
}

.icon-31shoucang:before {
  content: "\e622";
}

.icon-31paishexuanzhong:before {
  content: "\e623";
}

.icon-31paishe:before {
  content: "\e624";
}

.icon-31guanzhu1xuanzhong:before {
  content: "\e625";
}

.icon-31guanzhu1:before {
  content: "\e627";
}

.icon-31leimu:before {
  content: "\e628";
}

.icon-31pinglun:before {
  content: "\e629";
}

.icon-yinle:before {
  content: "\e607";
}

.icon-yinle1:before {
  content: "\e608";
}

.icon-renzhengyonghu:before {
  content: "\e60a";
}

.icon-tixing:before {
  content: "\e60b";
}

.icon-guanliyuan:before {
  content: "\e60c";
}

.icon-shouye1:before {
  content: "\e60d";
}

.icon-yonghu:before {
  content: "\e60e";
}

.icon-duihua:before {
  content: "\e60f";
}

.icon-tupian1:before {
  content: "\e610";
}

.icon-shezhi:before {
  content: "\e611";
}

.icon-haoyou:before {
  content: "\e612";
}

.icon-liebiao:before {
  content: "\e614";
}

.icon-yingyongzhongxin:before {
  content: "\e615";
}

.icon-dakaixinxi:before {
  content: "\e616";
}

.icon-lianjie1:before {
  content: "\e617";
}

.icon-qq:before {
  content: "\e618";
}

.icon-github:before {
  content: "\e619";
}

.icon-lianjie2:before {
  content: "\e61a";
}

.icon-home1:before {
  content: "\e61b";
}

.icon-tupian:before {
  content: "\eac4";
}

.icon-tianjiafujian:before {
  content: "\eac5";
}

.icon-guanliyuanrenzheng:before {
  content: "\eacc";
}

.icon-kefu:before {
  content: "\eadc";
}

.icon-quxiaolianjie:before {
  content: "\eadf";
}

.icon-shouye:before {
  content: "\eaf0";
}

.icon-daohang:before {
  content: "\eaf2";
}

.icon-kongzhizhongxin:before {
  content: "\eafa";
}

.icon-shanchu1:before {
  content: "\eafb";
}

.icon-quanjushezhi:before {
  content: "\eafc";
}

.icon-renwuzhongxin:before {
  content: "\eafd";
}

.icon-sousuo:before {
  content: "\eafe";
}

.icon-xinzengdaohangliebiao:before {
  content: "\eaff";
}

.icon-quxiaoquanping:before {
  content: "\eb10";
}

.icon-quanping:before {
  content: "\eb11";
}

.icon-gerentouxiang:before {
  content: "\eb24";
}

.icon-qiandao:before {
  content: "\eb25";
}

.icon-qunzu:before {
  content: "\eb26";
}

.icon-tianjiahaoyou:before {
  content: "\eb27";
}

.icon-shijian:before {
  content: "\eb2a";
}

.icon-yunshangchuan:before {
  content: "\eb2c";
}

.icon-yunxiazai:before {
  content: "\eb2d";
}

.icon-zhexiantu:before {
  content: "\eb2e";
}

.icon-zhuzhuangtu:before {
  content: "\eb2f";
}

.icon-map-fill:before {
  content: "\e7b1";
}

.icon-arrow-to-bottom:before {
  content: "\e847";
}

.icon-connection:before {
  content: "\e855";
}

.icon-save:before {
  content: "\e856";
}

.icon-resource:before {
  content: "\e867";
}

.icon-menu:before {
  content: "\e86b";
}

.icon-shoppingcart:before {
  content: "\e881";
}

.icon-bell:before {
  content: "\e887";
}

.icon-NEW-copy:before {
  content: "\e889";
}

.icon-HOT-copy:before {
  content: "\e88a";
}

.icon-home:before {
  content: "\e88b";
}

.icon-vector:before {
  content: "\e888";
}

.icon-icon-test:before {
  content: "\e63e";
}

.icon-icon-test1:before {
  content: "\e655";
}

.icon-icon-test2:before {
  content: "\e657";
}

.icon-icon-test3:before {
  content: "\e659";
}

.icon-icon-test4:before {
  content: "\e65a";
}

.icon-loading:before {
  content: "\e891";
}

.icon-prompt:before {
  content: "\e67b";
}

.icon-move:before {
  content: "\e67c";
}

.icon-smile-filling:before {
  content: "\e68c";
}

.icon-xiugai:before {
  content: "\e61f";
}

.icon-dots-vr-icon:before {
  content: "\e933";
}

.icon-heart-filled-icon:before {
  content: "\e937";
}

.icon-plus-icon:before {
  content: "\e93c";
}

.icon-sousuochaxun:before {
  content: "\e600";
}

.icon-bianjixiugai:before {
  content: "\e601";
}

.icon-shanchu:before {
  content: "\e602";
}

.icon-shuaxin:before {
  content: "\e603";
}

.icon-fanhui:before {
  content: "\e604";
}

.icon-neirongwendang:before {
  content: "\e605";
}

.icon-paizhaoxiangji:before {
  content: "\e606";
}

.icon-mobile:before {
  content: "\e626";
}

.icon-tishifill:before {
  content: "\e72a";
}

.icon-tishi:before {
  content: "\e72b";
}

.icon-wenhaofill:before {
  content: "\e72c";
}

.icon-wenhao:before {
  content: "\e72d";
}

.icon-yuanxingweixuanzhong:before {
  content: "\e72f";
}

.icon-fenxiang-copy:before {
  content: "\e632";
}

.icon-tupiantubiao:before {
  content: "\e645";
}

.icon-tubiao7:before {
  content: "\e62c";
}

.icon-gallery-view:before {
  content: "\e76b";
}

.icon-link:before {
  content: "\e772";
}

.icon-poweroff:before {
  content: "\e774";
}

.icon-chart-pie-alt:before {
  content: "\e78c";
}

.icon-chart-scatter-plot:before {
  content: "\e78e";
}

.icon-chart-area:before {
  content: "\e78f";
}

.icon-chart-line:before {
  content: "\e790";
}

.icon-chart-bar:before {
  content: "\e791";
}

.icon-edit:before {
  content: "\e7a0";
}

.icon-commentdots-fill:before {
  content: "\e7a8";
}

.icon-paperplane-fill:before {
  content: "\e7a9";
}

.icon-eyeslash-fill:before {
  content: "\e7aa";
}

.icon-eye-fill:before {
  content: "\e7ab";
}

.icon-position-fill:before {
  content: "\e7af";
}

.icon-folderopen-fill:before {
  content: "\e7c2";
}

.icon-folderplus-fill:before {
  content: "\e7c3";
}

.icon-fileplus-fill:before {
  content: "\e7c6";
}

.icon-delete-fill:before {
  content: "\e7ce";
}

.icon-picture-fill:before {
  content: "\e7cf";
}

.icon-mail-fill:before {
  content: "\e7d0";
}

.icon-user-group-fill:before {
  content: "\e7d3";
}

.icon-userplus-fill:before {
  content: "\e7d4";
}

.icon-user-fill:before {
  content: "\e7d5";
}

.icon-cog-fill:before {
  content: "\e7d6";
}

.icon-clouddownload-fill:before {
  content: "\e7d9";
}

.icon-cloudupload-fill:before {
  content: "\e7da";
}

.icon-question-circle-fill:before {
  content: "\e7dd";
}

.icon-flag:before {
  content: "\e7ef";
}

.icon-tag:before {
  content: "\e7f0";
}

.icon-position:before {
  content: "\e7f1";
}

.icon-map:before {
  content: "\e7f3";
}

.icon-user-group:before {
  content: "\e815";
}

.icon-account-plus:before {
  content: "\e816";
}

.icon-account:before {
  content: "\e817";
}

.icon-cog:before {
  content: "\e818";
}

.icon-clouddownload:before {
  content: "\e81b";
}

.icon-cloudupload:before {
  content: "\e81c";
}

.icon-question-circle:before {
  content: "\e81f";
}

.icon-search:before {
  content: "\e82e";
}

.icon-redo:before {
  content: "\e831";
}

.icon-indent:before {
  content: "\e834";
}

.icon-outdent:before {
  content: "\e835";
}

