.css-dev-only-do-not-override-ghog4a.ant-menu-horizontal {
    border-bottom: 0;
    line-height: 70px;
}

.css-dev-only-do-not-override-ghog4a.ant-menu-light {
    background-color: rgb(255,255,255,0);
}

/* 选中菜单状态 */
.ant-menu-item-selected {
    color: #ee609c !important;
}
.ant-menu-item-selected::after {
    border: none;
}

/* 设置未选中菜单项鼠标滑过样式 */
.ant-menu-item-active {
    color: #cf6cc9 !important;
}
/*.css-dev-only-do-not-override-ghog4a.ant-menu-light.ant-menu-horizontal >.ant-menu-item:hover::after,*/
/*.css-dev-only-do-not-override-ghog4a.ant-menu-light.ant-menu-horizontal >.ant-menu-item-active::after {*/
/*    border: none;*/
/*}*/

/* 修改 form-item 的 label 字体大小 */
.ant-form-item-label > label {
    font-size: 16px !important;
}
