@import "minix";
@import "variable";
@import "./element/element";

/** body */
*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  min-height: 100vh;
  width: 100% !important;
  margin: 0 !important;
  padding: 0;
  color: var(--color-text);
  /*overflow: hidden;*/
  background: var(--color-background);
  font-family:
          Helvetica Neue,
          Helvetica,
          PingFang SC,
          Hiragino Sans GB,
          Microsoft YaHei,
          Arial,
          sans-serif;
  font-size: 16px !important;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#app {
  height: 100%;
}
a {
  text-decoration: none;
  color: #f9f9f9;
}
a:focus,a:active {
  outline: none;
  color: var(--primary)
}
a:focus,a:hover {
  cursor: pointer;
  color: var(--primary);
}
ul {
  list-style-type: none;
}
div:focus {
  outline: none;
}
.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}
/** layout 布局 */
@include b(layout){
  background: linear-gradient(90deg, #ffffff 1%,#f0fff0 10.2%,  #fffafa 19.6%, #f8f8ff 36.8%, #fff0f5 62.2%,#ffe4e1 88.9%, #ffffff 100%) !important;
}

.gradient {
  background: rgb(255, 255, 255, 0.7);
  background: linear-gradient(120deg, #f8feff, #dffbff, #faedff, #e0eeff, #f5f5d2, #fffff9);
}
@include b(header){
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2001;
  width: 100%;
  height: 3.6rem;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 0px -1px 3px var(--gray);
  background: rgba(255, 255, 255, .7);
}
@include b(main) {
  box-sizing: border-box;
}
@include b(footer) {
  width: 100%;
  z-index: 2009;
  height: 10rem;
  overflow: hidden;
  background: rgba(255,255,255,.3);
  backdrop-filter: saturate(100%) blur(3px);
  overflow-x: hidden;
  box-sizing: border-box;
}
/** flex 布局 */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex_r_start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.flex_r_between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex_r_around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.flex_c_center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex_c_between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.flex_c_around {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.flex_c_start {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.flex_1 {
  flex: 1;
}
.flex_wrap {
  flex-wrap: wrap;
}
.flex_right {
  display: flex;
  justify-content: right;
}
/** 行内块 */
.inline_block {
  display: inline-block;
}
/** 鼠标点击样式 */
.to_printer {
  transition: 0.3s ease-in-out;
  &:hover {
    color: var(--primary);
    cursor: pointer;
  }
  &:before {
    color: var(--primary);
  }
}
/** 文字 overflow */
.text_overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/** transition */
.scale {
  cursor: pointer;
  transition: 0.3s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}
/** 内边距 */
.pad_5 {
  padding: 5px;
}
/** iconfont */
.iconfont {
  cursor: pointer;
}

svg {
  cursor: pointer;
}

// 手机
@media screen and (max-width: 768px) {
  .mi-home {
    padding-top: 83px;
    max-width: 1000px;
    margin: 0 auto;
    min-weight: calc(100vh - 120px);
  }
  .article_box {
    padding: 1.6rem 10px;
    max-width: 1000px;
    margin: 0 auto;
    min-height: calc(100vh - 28rem);
  }
  .avatar-show {
    display: block;
  }
  .article-box {
    padding: 1.6rem 10px;
    max-width: 1000px;
    margin: 0 auto;
    min-height: calc(100vh - 28rem);
  }

}

// pc
@media screen and (min-width: 768px) {
  .mi-home {
    padding-top: 80px;
    max-width: 1200px;
    margin: 0 auto;
    min-height: calc(100vh - 128px);
  }
  .center_box {
    padding: 2.8rem 10px;
    max-width: 1000px;
    margin: 0 auto;
    min-height: calc(100vh - 35rem);
  }
  .avatar-show {
    display: none;
  }
  .article-box {
    padding: 2.8rem 10px;
    max-width: 1200px;
    margin: 0 auto;
    min-height: calc(100vh - 28rem);
  }
}
