// 定义变量
$namespace: 'mi' !default; // 命名 xm开头
$block-sel: "-" !default; // selector 选择器
$elem-sel: "__" !default; // element 元素
$mod-sel: "--" !default; // modify  修饰
@mixin bfc {
    min-height: 100vh;
}

// 混入 block
@mixin b($block) {
    // 接收参数
    // 定义变量 例如 <div class="yz-block">
    $B:#{$namespace + $block-sel + $block};
    // 初始化
    .#{$B} {
        @content; // 占位符
    }
}

// element
@mixin e($el) {
    $selector: &;
    // 跳出嵌套
    @at-root {
        #{$selector + $elem-sel + $el} {
            @content;
        }
    }
}

// modify
@mixin m($m) {
    $selector: &;
    // 跳出嵌套
    @at-root {
        #{$selector + $mod-sel + $m} {
            @content;
        }
    }
}