:root {
  --primary: #ffb6c1;
  --global-font-size: 16px;
  --router-color: #fff;
  --font-color: #676767;
  --second-font-color: #ff69b4;
  --hot-color: #f00;
  --dark-font-color: #a7a7a7;
  --md-active: #cf6cc9;
  --global-bg: #fff;
  --border-color: #ffc0cb;
  --hr-border: #f4bae1;
  --top: #f26c60;
  --card-box-shadow: 0 3px 6px 3px rgba(7, 17, 27, 0.06);
  --card-hover-box-shadow: 0 3px 6px 3px rgba(7, 17, 27, 0.15);
  --text-hover-color: rgba(207,108,201,1.000);
  /* COLORS */
  --white: #fcfcfc;
  --gray: #333;
  --blue: #0367a6;
  --lightblue: #008997;

  /* RADII */
  --button-radius: 0.7rem;

  /* SIZES */
  --max-width: 1000px;
  --max-height: 500px;
  --button-linear-gradient-h: linear-gradient(300deg, #dfbeed 0%, #f096ce 100%);
  --button-linear-gradient: linear-gradient(300deg, #dfbeed 0%, #f096ce 100%)
}
