
.el-menu {
  border-right: none;
  //background: transparent;
  .el-menu-item {
    border-bottom: none;
    font-size: 1rem;
    font-weight: 600;
    padding: 0 10px;
    //background-color: transparent;
  }
  :deep(.el-menu-item.is-active) {
    border-bottom: 2px #f7a7f2 solid;
    color: #303133;
  }
  .el-menu-item:not(is-disabled):focus,
  .el-menu-item:not(is-disabled):hover {
    //text-decoration: underline #f7a7f2!important;
    color: #303133;
    background:none;
    border-bottom: 2px #f7a7f2 solid;
  }
  .el-sub-menu__title {
    font-size: 1rem;
    padding: 0 10px;
    border-bottom: none;
    font-weight: 600;
  }
}
.el-menu--horizontal {
  .el-menu-item{
    //border-bottom: 2px #f7a7f2 solid;
    &:hover {
      background:none !important;
      border-bottom: 3px #f7a7f2 solid;
    }
  }
  .el-menu-item:not(.is-disabled):focus,
  .el-menu--horizontal .el-menu-item:not(.is-disabled):hover {
    //text-decoration: underline #f7a7f2!important;
    border-bottom: 2px #f7a7f2 solid;
    color: #303133;
    background:none;
  }
}
:deep(.el-menu--collapse .el-menu .el-sub-menu) {min-width:100px}
.el-menu--popup {
  min-width: 100px!important;

  .el-menu-item {
    text-align: center;
    margin-left: 10px;
  }
}
.el-card {
  border: none;
  border-radius: 5px 5px 8px 8px;
  box-shadow: var(--card-box-shadow) !important;
  background: rgba(255,255,255,.3) !important;
  transition: all 0.3s;
  &__body {
    width: 100%;
  }
  :deep(.el-card__body) {
    padding: 0 !important;
  }
}
.card-hover:hover {
  box-shadow: var(--card-hover-box-shadow) !important;
  transform: translateY(-3px);
}

.el-avatar {
  transition: ease-in-out 1s;
  background: (
          90deg,
          #ffffff 1%,
          #ead2ea 10.2%,
          #e4d5ee 19.6%,
          #d1def3 36.8%,
          #b5dee5 62.2%,
          #cfebf3 88.9%,
          #ffffff 99%
  ) !important;
}
.el-avatar:hover {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}

.el-col-xl,
.el-col-xl-auto,
.el-col-xl-12,
.el-col-xl-11,
.el-col-xl-10,
.el-col-xl-9,
.el-col-xl-8,
.el-col-xl-7,
.el-col-xl-6,
.el-col-xl-5,
.el-col-xl-4,
.el-col-xl-3,
.el-col-xl-2,
.el-col-xl-1,
.el-col-lg,
.el-col-lg-auto,
.el-col-lg-12,
.el-col-lg-11,
.el-col-lg-10,
.el-col-lg-9,
.el-col-lg-8,
.el-col-lg-7,
.el-col-lg-6,
.el-col-lg-5,
.el-col-lg-4,
.el-col-lg-3,
.el-col-lg-2,
.el-col-lg-1,
.el-col-md,
.el-col-md-auto,
.el-col-md-12,
.el-col-md-11,
.el-col-md-10,
.el-col-md-9,
.el-col-md-8,
.el-col-md-7,
.el-col-md-6,
.el-col-md-5,
.el-col-md-4,
.el-col-md-3,
.el-col-md-2,
.el-col-md-1,
.el-col-sm,
.el-col-sm-auto,
.el-col-sm-12,
.el-col-sm-11,
.el-col-sm-10,
.el-col-sm-9,
.el-col-sm-8,
.el-col-sm-7,
.el-col-sm-6,
.el-col-sm-5,
.el-col-sm-4,
.el-col-sm-3,
.el-col-sm-2,
.el-col-sm-1,
.el-col,
.el-col-auto,
.el-col-12,
.el-col-11,
.el-col-10,
.el-col-9,
.el-col-8,
.el-col-7,
.el-col-6,
.el-col-5,
.el-col-4,
.el-col-3,
.el-col-2,
.el-col-1 {
  padding: 7.5px 3.75px !important;
}

//.el-form-item {
//  padding: 15px 0;
//}

// 手机
@media screen and (max-width: 768px) {
  .el-notification {
    width: 12rem !important;
    opacity: 0.7 !important;
  }
}

// pc
@media screen and (min-width: 768px) {
  .el-notification {
    width: 16rem !important;
    opacity: 0.7 !important;
  }
}
